html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* avoid scrollbars */
}

.scene {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.scene-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.wall-img {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none; /* don't block mouse drag */
}